@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {
  background: black;
  font-family: 'Abril Fatface', cursive;
}

#container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 20px;
  width: auto;
  height: auto;
  margin-top: 30px;
  padding-top: 5px;
}

#message,
#cipher {
  height: 150px;
  width: 600px;
  font-family: inherit;
  font-size: 16px;
}

input {
  cursor: pointer;
  font-family: inherit;
  font-size: 15px;
  padding: 2px 7px 2px 7px;
}

caption {
color: white;
font-size: 19px;
margin-bottom: 7px;
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  color: #202122;
  border-collapse: collapse;
  font-size: 19px;
}

th {
  background-color: #e7e7e7 !important;
}

.table-container > tr > td, 
.table-container > * > tr > th, 
.table-container > * > tr > td {
  text-align: center;
  background-color: #f8f9fa;
  border: 1px solid #a2a9b1;
  padding: 0.2em 0.4em;
}